
.color-background{
    background-color: #B7E8D2;
}

.box-shadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#home-background{
  background: url("/images/background.png") center center;
  background-size: cover;
  height: 100vh;
}
#home-background2{
  background: url("/images/bakgroundDois.png") center center;
  background-size: cover;
  height: 100vh;  /*100% da altura da tela, qualquer coisa apaga*/
}
.fonte-pixel{
  font-family: 'press start 2p';
}

#magal {
  max-width: 65%;
  height: auto;
  position: relative;
  margin-top: 90px;
  bottom: 4rem;
  left: 15%;
}
#magal2 {
  max-width: 20%;
  height: auto;
  position: relative;
  margin-top: 90px;
  bottom: 2rem;
  left: 10%;
}

.custom-grid{
  height: 100%;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.custom-grid img{
  max-width: 100px;
}
