
.color-background{
    background-color: #B7E8D2;
}

.box-shadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#home-background{
  background: url("/images/background.png") center center;
  background-size: cover;
}
#home-background2{
  background: url("/images/bakgroundDois.png") center center;
  background-size: cover;
}
.fonte-pixel{
  font-family: 'press start 2p';
}

#magal {
  max-width: 65%;
  height: auto;
  position: relative;
  margin-top: 90px;
  bottom: 4rem;
  left: 15%;
}