@font-face {
  font-family: 'mario';
  src: url(font/SuperMario256.ttf) format(truetype);
}
.scoreboard {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  font-family: mario;
}
.game-board{
  width: 100%;
  height: 50vh;
  border-bottom: 15px solid rgb(35, 160, 36);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}
.comands{
  height: 10vh;
  width: 100%;
  text-align: center;
  background-color: rgb(35, 160, 36);
  font-family: mario;
}
.pipe{
  position: absolute;
  bottom: 0;
  width: 100px;
  animation: pipe-animation 1.3s infinite linear; 
}
.mario{
  width: 150px;
  position: absolute;
  bottom: 0;
  
}
.jump{
  animation: jump 600ms ease-out;
}

.clouds{
  position: absolute;
  width: 550px;
  animation: cloud-animation 20s infinite linear;
}
.gameover{
  position: absolute;
  width: 28rem;
  left: 40%;
  visibility: hidden;
}
@keyframes pipe-animation {
  from{
      right: -80px;
  }
  to{
      right: 100%;
  }
}
@keyframes jump{
  0%{
      bottom: 0px;
  }
  40%{
      bottom: 180px;
  }
  50%{
      bottom: 180px;
  }
  60%{
      bottom: 180px;
  }
  100%{
      bottom: 0px;
  }
}
@keyframes cloud-animation {
  from{
      right: -550px;
  }
  to{
      right: 100%;
  }
}
