
.color-background{
    background-color: #B7E8D2;
}

.box-shadow{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#home-background{
  background: url("/images/background.png") center center;
  background-size: cover;
  height: auto;
}

#home-background2{
  background: url("/images/bakgroundDois.png") center center;
  background-size: cover;
  height: auto;  /*100% da altura da tela, qualquer coisa apaga*/
}
.fonte-pixel{
  font-family: 'press start 2p';
}

#magal {
  max-width: 65%;
  height: auto;
  position: relative;
  margin-top: 90px;
  bottom: 4rem;
  left: 15%;
}
#magal2 {
  max-width: 20%;
  height: auto;
  position: relative;
  margin-top: 90px;
  bottom: 2rem;
  left: 10%;
}
#magal3 {
    max-width: 100%;
    min-height: 50vh;
    align-items: center;
}
#magal4{
    background-color: #B7E8D2;
    background-size: cover;
    height: auto;
}

.custom-grid{
  height: 100%;
  background-color: #B7E8D2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.custom-grid img{
  max-width: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'mario';
    src: url(font/SuperMario256.ttf) format(truetype);
}
.scoreboard {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    font-family: mario;
}
.game-board{
    width: 100%;
    height: 80vh;
    border-bottom: 15px solid rgb(35, 160, 36);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}
.comands{
    height: 20vh;
    width: 100%;
    text-align: center;
    background-color: rgb(35, 160, 36);
    font-family: mario;
}
.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.3s infinite linear; 
}
.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
    
}
.jump{
    animation: jump 600ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: cloud-animation 20s infinite linear;
}
.gameover{
    position: absolute;
    width: 28rem;
    left: 35%;
    visibility: hidden;
}
@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}
@keyframes jump{
    0%{
        bottom: 0px;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0px;
    }
}
@keyframes cloud-animation {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }
}
